<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/vendor/css/bootstrap.min.css">

    <script type="text/javascript" src="../static/vendor/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/vendor/js/bootstrap.min.js"></script>

    <script src="../static/index.js"></script>
    <style>
.btn:focus {
        box-shadow: none !important;}
.act{
  background-color: #dc3545 !important;
  color : white !important;
}
.my_button:hover {
background-color : Pink;
color : #C71585;
}


    </style>

</head>

<body>
<div class="col-md-6 mx-auto">
    <div class="card ">
        <img src="https://safebooru.org/images/2316/8ab85e2a0364a6e10b530b3a13365078d0db994d.png"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up
                the
                bulk
                of the card's content.</p>
            <div class="d-grid d-md-flex justify-content-md-end">
                <button class="btn col-md-2 btn-outline-danger my_button" id="like_btn_0"
                        type="button" onclick="isClick(this.id)">
                    LIKE
                </button>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="https://safebooru.org/images/2316/3d9a98f333cabbaef5bd76a5deb59b600db6ac9d.jpg"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up
                the
                bulk
                of the card's content.</p>
            <div class="d-grid d-md-flex justify-content-md-end">
                <button class="btn col-md-2 btn-outline-danger my_button" id="like_btn_1"
                        type="button" onclick="isClick(this.id)">
                    LIKE
                </button>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="https://safebooru.org/images/2316/1a806a5f2a8f6d5cc26a7cf44526299f7eab3f3a.png"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up
                the
                bulk
                of the card's content.</p>
            <div class="d-grid d-md-flex justify-content-md-end">
                <button class="btn col-md-2 btn-outline-danger my_button" id="like_btn_2"
                        type="button" onclick="isClick(this.id)">
                    LIKE
                </button>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="https://safebooru.org/images/2296/342984ff030271638d362914fac038bec9cec0d4.png"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up
                the
                bulk
                of the card's content.</p>
            <div class="d-grid d-md-flex justify-content-md-end">
                <button class="btn col-md-2 btn-outline-danger my_button" id="like_btn_3"
                        type="button" onclick="isClick(this.id)">
                    LIKE
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>