<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/vendor/css/bootstrap.min.css">

    <link rel="stylesheet" href="../static/style.css">
    <style>
    </style>
</head>


<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <div style="margin-left: 20em;">
                <a class="nav-link" href="register.html">Register</a>
          </div>
        </ul>
    </div>
    <img src="../static/images/viotag_logo.png" style="height:4em;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
                <a class="nav-link" class="log_but" href="login.html">Log in</a>
        </ul>
    </div>
</nav>
<div class='heading'>
  <img src="../static/images/somepicturetest1.jpg" style="margin-left: 20em;">
  <div style="text-align: center; margin-top: 2em;background: #dedede;border-radius: 1em; width: 50em; margin-left: 19em">
    <h4> VioTag-
     сайт, созданный для того чтобы делится фотографиями,
     рисунками и мемами в удобном формате.
     Реализована система рекомендаций и подписок.
     Вы можете делится фотографиями, добавляя к ним тэги,
     и сайт будет показывать другим пользователям ваши фото по тэгам,
     которые они выбирали.</h4>
     <h4>Разработчики:</h4>
  </div>
  <div class="face">
    <img src="../static/images/sergey.png" style="margin-left: 20em">
    <figcaption style="margin-left:21em"> Сергей Антонов </figcaption>
  </div>
</div>
</body>
</html>
